{{>blog-header}}
<section>
    <div class="container10">
        <div class="row justify-centent-center">
            <div class="col-12">
                <h2 class="text-center text-dark mt-4">Angular VS React?</h2>
            </div>
            <div class="col-md-9 text-dark p-4">
                <form id="comment-section" action="/angular-debate" method="POST">

                    <div class="p-4 ml-4">
                        <h1></h1>
                        <label for="text">Comment:</label>
                        <textarea name="text" name="text" placeholder="Write your comment"></textarea>

                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <div class="container11">
        <div class="row">
            <div class="col-12">
                <div class="comment-section">
                    <h3>Comments</h3>

                    {{#each 1  comments}}
                    <div>

                        <h1>{{this.user}}:</h1>
                        <p>{{this.text}}:</p>

                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>

</section>


<script>
    const form = document.getElementById('comment-section')
    form.reset();
</script>

{{>footer}}